@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,800");

.page{
  height:100%;
  width:100%;
  overflow:hidden;
	background: transparent;
/*position:fixed  stops scrolling*/
  margin:0; 
  padding:0;
}

.container-fluid.main {
	position: relative;
	padding: 0;
/*	overflow: hidden;*/
	height: 100%;
}
#myNav1 {
	background-image: none;
	background-color: #F3EAF4;
	border-radius: 0px;
	border: 0;
	box-shadow: none;
	height: 50px;
	
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
	margin-bottom: 0px;
}
	
#cf1 {
	padding: 0;
	position: relative;
	
}

.navbar {
	border: 0;
	position: absolute;
}

/*.navbar-collapse,*/
.navbar-form {
	background-color: #F3EAF4;
	text-align: center
	}

.navbar-default {
	background-image: none;
	background-color: transparent;
	border: 0;
	box-shadow: none;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
	margin-bottom: 0px;
}
#myNavbar {
	font-family: Verdana;
	color: #593f62;
	font-size: 35px;
	/*padding-left: 25%;*/

}

#myNavbarl
	
.navbar-default .navbar-brand {
	font-family: Verdana;
	color: #593f62;
	font-size: 35px;
	padding-left: 30px;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
	color: #000000;

	background-color: transparent;
}

.navbar-default .navbar-nav > li > a {
	color: #593f62;
	font-size: 16px;
	margin: 10px auto;
	display: inline-block
	padding-left: 25px;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
	color: #000000;
	background-color: transparent;
}

.navbar-default .navbar-toggle {
	border-color: transparent;
	margin-right: 30px;
}

.navbar-default .navbar-toggle:hover {
	background-color: transparent;
}

.navbar-default .navbar-toggle:focus {
	background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #000;
}

.body {
	height: 2000px
}

.contentblock {
	position:absolute;
	top: 50px;
	left: 0px;
	right: 0px;
	background:#FFEEDB;
}

.hero {
	position: absolute
		top: 50px;
	
}

.photoframe {
	/*padding: 10px 20px;*/
	width: 25%;
	height: 25%;
	
}


.carousel .background {
	background-position: center center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	height: 2000px;
}

#weddingcountdownh {
	padding: 1em;
position: absolute;
  left: 0%;
  width: 100%;
  text-align: right;
}
#weddingcountdownh > div {
	padding: 10px;
	/*background: #000;*/
	background: 1;
	display: inline-block;
	/*width: 100%;*/
	position: relative;
	background-color: #DAD2D8;
	border-radius: 50px;
	
}

.smalltexth {
	padding-top: 0em;
	font-size: 1em;
	color: #2B2B2B;
	text-align: center;
}

@media (max-width: 991px) {
	.carousel .background {
		background-size: cover; /* To make the background image looks good */
	}
} 

.carousel .background.a {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url("https://i.imgur.com/BlbsGpz.jpg");
}

.carousel .background.b {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url("https://i.imgur.com/UxDROkJ.jpg");
}

.carousel .background.c {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url("https://i.imgur.com/FFIIEUq.jpg");
}

.carousel .background.d {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url("https://i.imgur.com/z4cwSZB.jpg");
}

.carousel .background.e {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url("https://i.imgur.com/U6cylj7.jpg");
}

.carousel .background.f {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url("https://i.imgur.com/QfZtNwd.jpg");
}

.carousel .background.g {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url("https://i.imgur.com/IKkb0OB.jpg");
}



.carousel-fade .carousel-inner .item {
	opacity: 0;
	transition: opacity 0.9s; /* The 0.5s describes the duration to make the opacity from 0 to 1 */
}

.carousel-fade .carousel-inner .active {
	opacity: 1;
}

/* CSS Hack to trigger GPU for smooth transition */
@media all and (transform-3d), (-webkit-transform-3d) {
	.carousel-fade .carousel-inner > .item.next,
	.carousel-fade .carousel-inner > .item.active.right {
		opacity: 0;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	.carousel-fade .carousel-inner > .item.prev,
	.carousel-fade .carousel-inner > .item.active.left {
		opacity: 0;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	.carousel-fade .carousel-inner > .item.next.left,
	.carousel-fade .carousel-inner > .item.prev.right,
	.carousel-fade .carousel-inner > .item.active {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}
/* CSS Hack to trigger GPU for smooth transition */

.body {
	position:absolute;
	top: 80px;
	left: 0px;
	right: 0px;
	background:#BD5254;
	
}

.covertext {
	position: absolute; /* To make the div to be place anywhere. It is out of the document flow */
	top: 80px; /* The distance between the div with the top of document */
	left: 0px; /* Make the div full width */
	right: 0px; /* Make the div full width */
}

.box {
	background: rgba(0, 0, 0, 0.2);
	border: 3px solid #000;
	color: #fff;
	text-align: center;
	padding: 10px 20px;
	width: 60%;
	margin: auto;
}
.box1 {
	background: rgba(0, 0, 0, 0.2);
	border: 3px solid #000;
	color: #ddd1c7;
	text-align: center;
	padding: 10px 20px;
	width: 40%;
	margin: auto;
	margin-bottom: 50px;
	
}

.box2 {
	/*background: rgba(0, 0, 0, 0.2);*/
	/*border: 3px solid #000;*/
	color: #ddd1c7;
	text-align: center;
	padding: 10px 20px;
	width: auto;
	margin: auto;
	margin-top: 5px;
	margin-bottom: 15px;
	font-size: 4em;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace"
	
}

.box3 {
	background: rgba(0, 0, 0, 0.1);
	border: 3px solid #000;
	color: #FFF;
	text-align: center;
	padding: 10px 20px;
	width: 40%;
	margin: auto;
	margin-bottom: 20px;
	margin-top: 7%;
	background-image: url(https://i.imgur.com/EUFyvSi.png) ; 
	background-size: cover;
}




















#weddingcountdown {
	/*padding: 1em*/
}
#weddingcountdown > div {
	padding: 0px;
	border-radius: 0px;
	/*background: #000;*/
	background: 1;
	display: inline-block;
	width: 100%;
	position: relative;
}

#clockdiv {
	font-family: sans-serif;
	color: #593f62;
	/*display: inline-block;*/
	font-weight: 100;
	text-align: center;
	font-size: 4vw;
	min-width: 50px;
}

#clockdiv > div {
	padding: 4px;
	min-width: 50px;
	border-radius: 0em;
	/*background: #CFACCE;*/
	display: inline-block;
	width: 16%;
}

#clockdiv div > span {
	padding: 0em;
	min-width: 50px;
	border-radius: 0em;
	background: #ddd1c7;
	display: inline-block;
	width: 90%;
	margin-top: 0.1em;
}

.smalltext {
	padding-top: 0em;
	font-size: 1em;
	color: #ddd1c7;
	text-align: center;
}

.clocktitle {
	font-size: 4.5vw;
	font-weight: bold;
	color: #ddd1c7;
	padding-bottom: 0.5em;
}

@media (max-width: 768px) {
		.full-width-img {
		padding-top: 100px;
		height: 100%;
	}

	.covertext {
		/*	position: absolute;
		position-top: 50px;*/
	}
	
	.box {
		width: 85%;
		position: relative;
		margin-top: 0px;
		}
	.box1 {
		width: 90%;
	}
	
	.box3 {
		width: 97%;
	}	
	#weddingcountdownh {
			padding: 0.35em;
/*position: absolute;*/
  left: 0.7%;
	top: 0px;	
  width: 50%;
  text-align: left;
		
	}
	
#weddingcountdownh > div {
	padding: 7px;
	/*background: #000;*/
	background: 1;
	display: inline-block;
	/*width: 100%;*/
	position: relative;
	background-color: #DAD2D8;
	border-radius: 40px;
	
}
	.smalltexth {
	padding-top: 0em;
	font-size: 0.7em;
	color: #2B2B2B;
	text-align: center;
}

	.navbar-default .navbar-brand {
		font-size: 10px;
			color: #ddd1c7;
	}
	#myNav1 {
		font-size: 20px;
			color: #ddd1c7;
	}
	.carousel .background {
background-position: left top;
		background-size: 100%;
	background-repeat: no-repeat;
		opacity: 0.1;
/*height: 800px;*/
}
.carousel .background.a {
	background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
		url("https://i.imgur.com/DXRT7o8.jpg");
}
	.carousel .background.b {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url("https://i.imgur.com/irRXMNT.jpg");
}
	.carousel .background.c {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url("https://i.imgur.com/tr6oTnt.jpg");
}
	.carousel .background.d {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url("https://i.imgur.com/qM17ywV.jpg");
}
	.carousel .background.e {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url("https://i.imgur.com/iQ2EVLd.jpg");
}
	.carousel .background.f {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url("https://i.imgur.com/Cwupurr.jpg");
}
	.carousel .background.g {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url("https://i.imgur.com/tr6oTnt.jpg");
}

}




.venuecards


 .demo-card-square.mdl-card {
    width: 46%;
    height: 320px;
    float: left;
    margin: 2%;
    position: relative;
	 background: #E8D9C8
	/*margin-left: 20px;*/
  }
  
  .demo-card-square.mdl-card {
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .2);
  }
  
  .demo-card-square > .mdl-card__title {
    color: #fff;
    background: #B3C0A4;
	text-align: center
  }
  
  .demo-card-square > .mdl-card__accent {
    background: #ff9800;
  }

.hotels{
	top: 32px;
height: 100%;

}

.hotelcard{
background: #E8B7DD;
	position: relative;
	top: 360px;
	float: left;
}



*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
[class*='bit-'] {
  float: left;
  padding: 10px;
}
[class*='bit-']:last-of-type {
  padding-right: 10px;
  float: right;
}
.frame:after {
  content: "";
  display: table;
  clear: both;
}
.bit-1 {
  width: 100%;
}
.bit-2 {
  width: 50%;
}
.bit-3 {
  width: 33.33%;
}
.bit-4 {
  width: 25%;
}
.bit-5 {
  width: 20%;
}
.bit-6 {
  width: 16.6666666667%;
}
.bit-7 {
  width: 14.2857142857%;
}
.bit-8 {
  width: 12.5%;
}
.bit-9 {
  width: 11.1111111111%;
}
.bit-10 {
  width: 10%;
}
.bit-11 {
  width: 9.09090909091%;
}
.bit-12 {
  width: 8.33%;
}

/* add your styles
---------------*/
body {
  background: #2a3644;
}
h1 {
  text-align: center;
  font: 6em "Helvetica Neue" Arial;
  color: #fff;
  font-weight: 100;
  padding: 40px;
  padding-bottom: 0;
}
p /*{
  text-align: center;
  font: 1em "Helvetica Neue" Arial;
  color: #4d6887;
  font-weight: 500;
  font-size:1.26em;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-top:-5px;
  padding-bottom: 40px;
}*/
footer {
  text-align: center;
}
footer > p {
  padding: 0px;
  padding-bottom: 100px;
  letter-spacing: 0;
}
.frame {
  width: 95%;
  margin: 0px auto;
}
.boxy {
  text-align: center;
  font: 1em "Helvetica Neue" Arial;
  background: #f1fbfd;
  box-shadow:0px 1px 1px rgba(0,0,0,0.1);
  color: #2a3644;
  padding: 15px 0px 15px 0px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
      -ms-border-radius: 6px;
       -o-border-radius: 6px;
          border-radius: 6px;
  cursor: pointer;
}
.boxy1 {
  text-align: center;
  font: 1em "Helvetica Neue" Arial;
  background: #f1fbfd;
  box-shadow:0px 1px 1px rgba(0,0,0,0.1);
  color: #2a3644;
  padding: 15px 0px 15px 0px;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
      -ms-border-radius: 10px;
       -o-border-radius: 10px;
          border-radius: 10px;
  cursor: pointer;
	background-image: url(https://i.imgur.com/EUFyvSi.png) ; 
	background-size: cover;
}
.boxy3 {
  text-align: center;
  font: 1em "Helvetica Neue" Arial;
  background: #f1fbfd;
  box-shadow:0px 1px 1px rgba(0,0,0,0.1);
  color: #2a3644;
  padding: 15px 0px 15px 0px;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
      -ms-border-radius: 10px;
       -o-border-radius: 10px;
          border-radius: 10px;
  cursor: pointer;
}

/* responsive
---------------*/
@media (max-width: 320px) {
  .bit-1 {
    width:100%;
  }
  .bit-2 {
    width:100%;
  }
  .bit-3 {
    width: 100%;
  }
  .bit-4 {
    width: 100%;
  }
  .bit-5 {
    width: 100%;
  }
  .bit-6 {
    width: 100%;
  }
  .bit-7 {
    width: 100%;
  }
  .bit-8 {
    width: 100%;
  }
	
	

  .bit-9 {
    width: 100%;
  }
  .bit-10 {
    width: 100%;
  }
  .bit-11 {
    width: 100%;
  }
  .bit-12 {
    width: 100%;
  }
  .frame .bit-4:nth-child(2) {
    float: right;
  }
  .frame .bit-4:nth-child(3) {
    clear: both;
    float: left;
  }
  .frame .bit-4:nth-child(4) {
    float: right;
  }
}
@media (min-width: 481px) and (max-width: 800px) {
  .bit-3 {
    width: 33.33%;
  }
  .bit-4 {
    width: 100%;
  }
  .bit-8 {
    width: 50%;
  }
  .bit-5 {
    width:100%;
  }
  .bit-6 {
    width:100%;
  }
  .bit-7 {
    width:100%;
  }
  .bit-8 {
    width: 100%;
  }
  .bit-9 {
    width: 100%;
  }
  .bit-10 {
    width: 100%;
  }
  .bit-11 {
    width: 100%;
  }
  .bit-12 {
    width: 50%;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 3em;
  }

  p {
    margin-top:0;
    font-size:0.8em;
    padding-bottom:15px;
  }

  p > span {
    display:none;
  }
}





.card{
	width: 100%; /* ⬅ Size - Small (width: 200px), Medium (width: 225px), Large (width: 250px) */
	overflow: hidden;
	background-color: #FFFFFF;
   
	border-radius: 15px;
	box-shadow: 0 2px 4px rgba(0,0,0,0.1);
	text-align: center;
	-webkit-transition: .1s ease-in-out;
	transition: .1s ease-in-out;
}

	.card:first-of-type{
		margin-right: 25px;
	}

.banner{
	height: 100px;
	width: 100%;
	padding-top: 0px;
	background-color: #FAFAFA;
	background-size: cover;
	background-position: center;
}

	.card:first-of-type .banner{
		background-image: url("https://pbs.twimg.com/profile_banners/1026096500902903809/1556969620/1500x500");
	}

.avatar{
	height: 100px;
	width: 100px;
	margin: auto;
	background-size: cover;
	background-position: center;
	background-color: #F1F1F1;
	border-radius: 100%;
	background-image: url("https://www.gonvillehotel.co.uk/wp-content/uploads/2018/07/feature_bedrooms_bg-768x512.jpg");
}
.avatar1{
	height: 100px;
	width: 100px;
	margin: auto;
	background-size: cover;
	background-position: center;
	background-color: #F1F1F1;
	border-radius: 100%;
	background-image: url("https://www.premierinn.com/content/dam/pi/websites/hotelimages/gb/en/C/CAMNEW/Cambridge%20City%20Centre%2002%20(2).jpg");
}
.avatar2{
	height: 100px;
	width: 100px;
	margin: auto;
	background-size: cover;
	background-position: center;
	background-color: #F1F1F1;
	border-radius: 100%;
	background-image: url("https://www.travelodge.co.uk/sites/default/files/styles/c12/public/GB0617_Cambridge_NewmarketRd_EXTERIOR.jpg");
}
.avatar3{
	height: 100px;
	width: 100px;
	margin: auto;
	background-size: cover;
	background-position: center;
	background-color: #F1F1F1;
	border-radius: 100%;
	background-image: url("https://i2-prod.cambridge-news.co.uk/incoming/article12923863.ece/ALTERNATES/s1200/Puntsssss.jpg");
}


h3, a, i{
	font-family: 'Roboto', sans-serif;
	font-weight: lighter;
	-webkit-transition: .1s ease-in-out;
	transition: .1s ease-in-out;
}

	h3{
		margin-top: 165px;
		margin-bottom: 5px;
		font-size: 12px;
		color: #212121;
	}

	a{
		display: block;
		padding: 5px 0px;
		font-size: 14px;
		color: #9E9E9E;
		text-decoration: none;
	}

		a:hover{
			background-color: #FAFAFA;
			color: inherit;
		}

ul{
	margin-top: 10px;
	padding: 15px 0px;
	background-color: #FAFAFA;
}

	ul a{
		display: inline;
		margin-right: 10px;
	}

		ul a:last-of-type{
			margin-right: 0px;
		}

			ul a i:hover{
				transform: scale(1.5);
			}